.main-center {
  height: 70vh;
  background-repeat: no-repeat;
  background-image: url(./challenges.jpg);
  background-size: cover;
}
.carousel .carousel-item {
  height: 600px;
}

.carousel-item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  min-height: 600px;
}
.carousel-caption {
  left: 250px;
  bottom: 170px;
  text-align: start;
}
.carousel-caption h5 {
  font-size: 36px;
}
footer {
  margin-top: 190px;
}
footer ul li:first-child {
  list-style-type: none;
}
.left li + li {
  margin-left: 30px;
}
